sortedcontainers
numpy
scipy
matplotlib
pandas
sqlitedict
scikit-image
addict
opencv-python
dill
colorama
tqdm
ipydex
pyyaml

# for documentation
sphinx
sphinx-autodoc-typehints
sphinx-autodoc2
watchdog
myst-parser
sphinxcontrib-mermaid
